*{
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-tittle {
  align-self: flex-start;
  padding-left: 90px;
  padding-top: 32px;
}